Repository openthread/ot-br-posix, pull requests merged in 2021-11, with the labels that each got.

#1072 [docs] remove redundant documentation
  src/backbone_router/nd_proxy.hpp
  src/common/task_runner.hpp
  src/dbus/server/dbus_agent.hpp
  src/dbus/server/dbus_thread_object.hpp
  src/mdns/mdns_avahi.hpp
  src/mdns/mdns_mdnssd.hpp
  src/ncp/ncp_openthread.hpp
  src/openwrt/ubus/otubus.hpp
  src/rest/connection.hpp
  src/rest/rest_web_server.hpp
Labels: comp: docs, cla: yes, cleanup, mdns

#1065 [meshcop] add vn and mn fields in meshcop service's TXT record
  CMakeLists.txt
  src/border_agent/border_agent.cpp
Labels: comp: border router, cla: yes

#1073 [mdns] unify mDNS interface to use std::string
  src/border_agent/border_agent.cpp
  src/common/task_runner.hpp
  src/mdns/mdns.cpp
  src/mdns/mdns.hpp
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_avahi.hpp
  src/mdns/mdns_mdnssd.cpp
  src/mdns/mdns_mdnssd.hpp
  src/sdp_proxy/advertising_proxy.cpp
  src/sdp_proxy/advertising_proxy.hpp
  tests/mdns/main.cpp
Labels: cla: yes, cleanup, mdns

#1074 [docs] unify spaces in documentations
  CMakeLists.txt
  src/agent/agent_instance.hpp
  src/agent/instance_params.hpp
  src/agent/vendor.hpp
  src/backbone_router/nd_proxy.hpp
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
  src/common/code_utils.hpp
  src/common/dns_utils.hpp
  src/common/logging.hpp
  src/common/mainloop.hpp
  src/common/mainloop_manager.hpp
  src/common/task_runner.hpp
  src/common/tlv.hpp
  src/common/types.hpp
  src/dbus/client/thread_api_dbus.hpp
  src/dbus/common/dbus_message_helper.hpp
  src/dbus/server/dbus_agent.hpp
  src/dbus/server/dbus_object.hpp
  src/dbus/server/dbus_request.hpp
  src/dbus/server/dbus_thread_object.hpp
  src/mdns/mdns.hpp
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_avahi.hpp
  src/mdns/mdns_mdnssd.cpp
  src/mdns/mdns_mdnssd.hpp
  src/ncp/ncp_openthread.hpp
  src/openwrt/ubus/otubus.hpp
  src/rest/connection.hpp
  src/rest/json.hpp
  src/rest/parser.hpp
  src/rest/request.hpp
  src/rest/resource.hpp
  src/rest/response.hpp
  src/rest/rest_web_server.hpp
  src/sdp_proxy/advertising_proxy.hpp
  src/utils/crc16.hpp
  src/utils/pskc.hpp
  src/utils/socket_utils.hpp
  src/utils/steering_data.hpp
  src/utils/thread_helper.hpp
  src/web/web-service/ot_client.hpp
  src/web/web-service/web_server.hpp
  src/web/web-service/wpan_service.hpp
Labels: comp: docs, cla: yes, cleanup

#1036 [netdiag] do not request TypeList TLV type when retrieving diagnostics
  src/rest/resource.cpp
Labels: bug, comp: web service, cla: yes

#1083 [build] provide a sample Yocto recipe
  etc/yocto/otbr_git.bb
Labels: comp: build, cla: yes

#1085 [discovery-proxy] unescape service instance name with spaces
  Android.mk
  src/sdp_proxy/discovery_proxy.cpp
  src/utils/CMakeLists.txt
  src/utils/dns_utils.cpp
  src/utils/dns_utils.hpp
Labels: P2, cla: yes, comp: dns, comp: discovery proxy

#1081 [d-bus] implement D-Bus API UpdateVendorMeshCopTxtEntries
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
  src/dbus/client/thread_api_dbus.cpp
  src/dbus/client/thread_api_dbus.hpp
  src/dbus/common/constants.hpp
  src/dbus/common/dbus_message_helper.hpp
  src/dbus/common/dbus_message_helper_openthread.cpp
  src/dbus/common/types.hpp
  src/dbus/server/dbus_thread_object.cpp
  src/dbus/server/dbus_thread_object.hpp
  src/dbus/server/introspect.xml
  src/utils/thread_helper.hpp
  tests/dbus/CMakeLists.txt
  tests/dbus/test-client
  tests/dbus/test_dbus_client.cpp
Labels: comp: border router, cla: yes, comp: dbus, mdns

#1078 [web-service] flush any lingering output before issuing command
  src/web/web-service/ot_client.cpp
  src/web/web-service/ot_client.hpp
Labels: comp: web service, cla: yes

#1088 [cmake] enable OT_LINK_METRICS_SUBJECT
  third_party/openthread/CMakeLists.txt
Labels: enhancement, cla: yes, Thread 1.2

#1091 [dnssd] use space in default MeshCoP service instance name
  CMakeLists.txt
  src/border_agent/border_agent.hpp
  tests/scripts/meshcop
Labels: cla: yes, comp: dns

#1093 [dbus] add energy scan dbus api
  src/dbus/client/thread_api_dbus.cpp
  src/dbus/client/thread_api_dbus.hpp
  src/dbus/common/constants.hpp
  src/dbus/common/dbus_message_helper.hpp
  src/dbus/common/dbus_message_helper_openthread.cpp
  src/dbus/common/types.hpp
  src/dbus/server/dbus_thread_object.cpp
  src/dbus/server/dbus_thread_object.hpp
  src/dbus/server/introspect.xml
  src/utils/thread_helper.cpp
  src/utils/thread_helper.hpp
  tests/dbus/test_dbus_client.cpp
Labels: enhancement, P3, cla: yes, comp: dbus

#1095 [web-service] update usage notes around `passphrase`
  src/web/web-service/frontend/index.html
  src/web/web-service/frontend/res/js/app.js
Labels: comp: docs, comp: web service, cla: yes

#1099 [openthread] enable OT_LINK_METRICS_SUBJECT for only Thread >= 1.2
  third_party/openthread/CMakeLists.txt
Labels: bug, comp: build, cla: yes

#1104 [mdns] fix bug that avahi may publish redundant meshcop services
  src/mdns/mdns.hpp
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_avahi.hpp
Labels: bug, cla: yes, mdns

#991 [border-agent] always publish meshcop service
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
  tests/scripts/meshcop
Labels: comp: border router, cla: yes

#1115 [utils] cleanup unused strcpy_utils.hpp
  Android.mk
  src/border_agent/border_agent.cpp
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_mdnssd.cpp
  src/utils/CMakeLists.txt
  src/utils/strcpy_utils.cpp
  src/utils/strcpy_utils.hpp
  src/web/web-service/ot_client.cpp
Labels: cleanup

#1116 [utils] cleanup useless agent_instance.hpp
  Android.mk
  src/agent/CMakeLists.txt
  src/agent/agent_instance.cpp
  src/agent/agent_instance.hpp
  src/agent/main.cpp
Labels: cla: yes, cleanup

#1118 [docs] add dependency when building dbus docs
  doc/CMakeLists.txt
Labels: bug, comp: docs, comp: build, cla: yes

#1121 [mdns-avahi] fix potential crash on browsing
  src/mdns/mdns_avahi.cpp
Labels: bug, P1, cla: yes, mdns

#1114 [border-agent] publish meshcop service when Thread is not started
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
Labels: cla: yes, border agent

#1107 [discovery-proxy] nit changes
  src/sdp_proxy/discovery_proxy.cpp
Labels: P4, cla: yes

#1111 [meshcop] use xa instead of dd according to latest spec
  src/border_agent/border_agent.cpp
  tests/mdns/main.cpp
  tests/mdns/test-multiple
  tests/mdns/test-single
  tests/mdns/test-stop
  tests/mdns/test-update
  tests/scripts/meshcop
Labels: P1, cla: yes, border agent
