Repository openthread/ot-br-posix, pull requests merged in 2021-12, with the labels that each got.

#1028 [agent] set dry-run option in Thread config if printRadioVersion is true
  src/agent/main.cpp
  src/ncp/ncp_openthread.cpp
  src/ncp/ncp_openthread.hpp
Labels: enhancement, P3, cla: yes

#1117 [mdns] support multiple subscribers
  src/mdns/mdns.cpp
  src/mdns/mdns.hpp
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_avahi.hpp
  src/mdns/mdns_mdnssd.cpp
  src/mdns/mdns_mdnssd.hpp
  src/sdp_proxy/discovery_proxy.cpp
  src/sdp_proxy/discovery_proxy.hpp
Labels: enhancement, P2, cla: yes, mdns

#1119 [mdns] fix `kDNSServiceFlagsMoreComing` flag handling
  src/mdns/mdns_mdnssd.cpp
Labels: P2, cla: yes, mdns, mDNSResponder

#1120 [mdns-avahi] support continuous browsing
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_avahi.hpp
  src/mdns/mdns_mdnssd.cpp
  src/mdns/mdns_mdnssd.hpp
Labels: P2, cla: yes, mdns, Avahi

#1129 [mdns-avahi] use assert to make sure Service Resolver is valid
  src/mdns/mdns_avahi.cpp
Labels: P4, cla: yes, mdns, Avahi

#1130 [mdns-avahi] support mDNS service removing
  src/mdns/mdns.cpp
  src/mdns/mdns.hpp
  src/mdns/mdns_avahi.cpp
  src/sdp_proxy/discovery_proxy.cpp
Labels: enhancement, P2, cla: yes, mdns, Avahi

#1131 [mdns-avahi] fix potential invalid memory access
  src/common/code_utils.hpp
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_avahi.hpp
Labels: bug, P2, cla: yes, mdns, Avahi

#1133 [mdns-mdnssd] fix `kDNSServiceFlagsMoreComing` flag handling (part 2)
  src/mdns/mdns_mdnssd.cpp
Labels: P2, cla: yes, mdns, mDNSResponder

#1134 [mdns-mdnssd] fix potential invalid memory access
  src/mdns/mdns_mdnssd.cpp
  src/mdns/mdns_mdnssd.hpp
Labels: bug, P2, cla: yes, mdns, mDNSResponder

#1136 [task-runner] fix data race on `mTaskQueue`
  src/common/task_runner.cpp
Labels: bug, cla: yes

#1122 [mdns-mdnssd] support continuous browsing
  src/mdns/mdns_mdnssd.cpp
  src/mdns/mdns_mdnssd.hpp
Labels: enhancement, P2, cla: yes, mdns, mDNSResponder

#1137 [mdns-mdnssd] support mDNS service removing
  src/mdns/mdns.cpp
  src/mdns/mdns_mdnssd.cpp
  src/sdp_proxy/discovery_proxy.cpp
  src/sdp_proxy/discovery_proxy.hpp
  src/utils/dns_utils.cpp
  src/utils/dns_utils.hpp
Labels: enhancement, P2, cla: yes, mdns, mDNSResponder

#1140 [mdns] notify service resolved with interface index
  src/mdns/mdns.cpp
  src/mdns/mdns.hpp
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_mdnssd.cpp
Labels: enhancement, P2, cla: yes, mdns, Avahi, mDNSResponder

#1141 [border-router] start mDNS daemon before starting otbr-agent
  src/agent/CMakeLists.txt
  src/agent/otbr-agent.service.in
Labels: enhancement, mdns, Avahi, mDNSResponder

#1103 [common] add OnceCallback which can be invoked for at most once
  src/common/callback.hpp
  tests/unit/CMakeLists.txt
  tests/unit/test_once_callback.cpp
Labels: cla: yes

#1168 [mdns] remove redundant ERR log
  src/mdns/mdns_avahi.cpp
Labels: P2, mdns, Avahi
