Repository openthread/ot-br-posix, pull requests merged in 2022-02, with the labels that each got.

#1235 [docs] update Thread version in NOTICE
  NOTICE
Labels: P4, comp: docs

#1237 [docs] remove Thread version from README
  README.md
Labels: P4, comp: docs

#1234 [trel-dnssd] parse `xa` TXT value as binary
  src/trel_dnssd/trel_dnssd.cpp
Labels: bug, P2, comp: trel

#1242 [trel-dnssd] fix compile
  script/test
  src/trel_dnssd/trel_dnssd.cpp
  src/trel_dnssd/trel_dnssd.hpp
Labels: P2, comp: build, comp: trel

#1238 [github-actions] add BR tests with TREL
  .github/workflows/border_router.yml
Labels: continuous-integration, comp: trel

#1248 [mdns] remove ServiceRegistration before invoking the callback
  src/mdns/mdns.cpp
  src/mdns/mdns.hpp
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_mdnssd.cpp
Labels: bug, P2, mdns

#1221 [mdns] handle mDNS daemon restart for mDNSResponder and Avahi
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_avahi.hpp
  src/mdns/mdns_mdnssd.cpp
  src/mdns/mdns_mdnssd.hpp
Labels: mdns, Avahi, mDNSResponder

#1253 [advertising-proxy] fix uninitialized variable
  src/sdp_proxy/advertising_proxy.cpp
Labels: comp: build, continuous-integration

#1261 [web] set text/html Content-Type for html files
  src/web/web-service/web_server.cpp
Labels: comp: web service

#1273 [advertising-proxy] unpublish services before unpublishing a SRP host
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_mdnssd.cpp
  src/sdp_proxy/advertising_proxy.cpp
Labels: bug, comp: advertising-proxy
