Repository openthread/ot-br-posix, pull requests merged in 2022-05, with the labels that each got.

#1339 [platform] de-init application in `otPlatReset` and verify `Publisher` state in public methods
  src/agent/main.cpp
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_mdnssd.cpp
Labels: bug, border agent

#1355 [adv-proxy] treat `NOT_FOUND` as success when unpublishing host/service
  src/sdp_proxy/advertising_proxy.cpp
Labels: enhancement, P4, comp: advertising-proxy

#1352 [dbus] Implement detach client API
  src/dbus/client/thread_api_dbus.cpp
  src/dbus/client/thread_api_dbus.hpp
Labels: enhancement, comp: dbus

#1364 [tests] add a test case of D-BUS API `Reset`
  tests/dbus/test-client
  tests/scripts/bootstrap.sh
Labels: continuous-integration, comp: dbus

#1365 [agent] refine booting logs
  src/agent/main.cpp
Labels: enhancement, P3, comp: logging

#1363 [dbus] allow `AttachAllNodesTo` when has active dataset but detached
  src/utils/thread_helper.cpp
  src/utils/thread_helper.hpp
  tests/dbus/CMakeLists.txt
  tests/dbus/test-client
Labels: enhancement, P4, comp: dbus

#1378 [github-actions] update to Thread Version 1.3
  script/test
  tests/scripts/meshcop
Labels: continuous-integration

#1380 [codecov] migrate to v2 uploader
  .github/workflows/border_router.yml
  .github/workflows/build.yml
  .github/workflows/meshcop.yml
Labels: P4, continuous-integration

#1367 [dbus] implement D-BUS API `GetSrpServerInfo`
  .github/workflows/build.yml
  src/dbus/client/thread_api_dbus.cpp
  src/dbus/client/thread_api_dbus.hpp
  src/dbus/common/constants.hpp
  src/dbus/common/dbus_message_helper.hpp
  src/dbus/common/dbus_message_helper_openthread.cpp
  src/dbus/common/types.hpp
  src/dbus/server/dbus_thread_object.cpp
  src/dbus/server/dbus_thread_object.hpp
  src/dbus/server/introspect.xml
  tests/dbus/test_dbus_client.cpp
  tests/rest/test-rest-server
Labels: comp: dbus

#1385 [github-actions] set `fail-fast: false` for matrix
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/meshcop.yml
Labels: P4, continuous-integration

#1383 [agent] remove potential data race on `sShouldTerminate`
  src/agent/application.cpp
  src/agent/application.hpp
Labels: P4
