Repository openthread/ot-br-posix, pull requests merged in 2022-07, with the labels that each got.

#1448 [dbus] add signal for initialization
  src/dbus/common/constants.hpp
  src/dbus/common/dbus_message_helper.hpp
  src/dbus/server/dbus_object.cpp
  src/dbus/server/dbus_object.hpp
  src/dbus/server/dbus_thread_object.cpp
  tests/dbus/test-client
Labels: enhancement, P4, comp: dbus

#1435 [nat64] separate Tayga configuration from NAT64 configuration
  etc/docker/Dockerfile
  etc/docker/docker_entrypoint.sh
  script/_nat64
  script/bootstrap
Labels: enhancement

#1455 [nat64] add OTBR_BORDER_ROUTING_NAT64 option
  .github/workflows/border_router.yml
  etc/cmake/options.cmake
  third_party/openthread/CMakeLists.txt
Labels: enhancement, comp: border router

#1454 [dbus] add RCP metrics properties
  src/dbus/common/constants.hpp
  src/dbus/common/dbus_message_helper.hpp
  src/dbus/common/dbus_message_helper_openthread.cpp
  src/dbus/common/types.hpp
  src/dbus/server/dbus_thread_object.cpp
  src/dbus/server/dbus_thread_object.hpp
  src/dbus/server/introspect.xml
  tests/dbus/test-client
Labels: enhancement, P4, comp: dbus

#1466 [dbus] fix "parser error : StartTag: invalid element name"
  src/dbus/server/introspect.xml
Labels: comp: docs, comp: dbus

#1471 [github-actions] update to macos-12
  .github/workflows/macOS.yml
Labels: continuous-integration

#1468 [dbus] add coex metrics property
  src/dbus/common/constants.hpp
  src/dbus/common/dbus_message_helper.hpp
  src/dbus/common/dbus_message_helper_openthread.cpp
  src/dbus/common/types.hpp
  src/dbus/server/dbus_thread_object.cpp
  src/dbus/server/dbus_thread_object.hpp
  src/dbus/server/introspect.xml
  tests/dbus/test-client
Labels: enhancement, P3, comp: dbus

#1475 [continuous-integration] replace `Hirsute` with `Jammy` as the Ubuntu release in docker CI
  .github/workflows/docker.yml
Labels: continuous-integration

#1474 [task-runner] fix `std::move` on const values
  src/common/task_runner.cpp
  src/common/task_runner.hpp
Labels: enhancement, comp: task-runner

#1353 [infra-netif] select infrastructure link among multiple candidates
  Android.mk
  etc/cmake/options.cmake
  script/test
  src/agent/application.cpp
  src/agent/application.hpp
  src/agent/main.cpp
  src/common/types.hpp
  src/utils/CMakeLists.txt
  src/utils/infra_link_selector.cpp
  src/utils/infra_link_selector.hpp
  src/utils/socket_utils.cpp
  src/utils/socket_utils.hpp
  tests/scripts/infra-link-selector
Labels: enhancement, P1, comp: backbone router
