Repository openthread/ot-br-posix, pull requests merged in 2022-11, with the labels that each got.

#1563 [dbus] provide Feature Flag update API for DBus
  .github/workflows/macOS.yml
  Android.mk
  etc/cmake/options.cmake
  script/_otbr
  script/bootstrap
  script/test
  src/CMakeLists.txt
  src/dbus/client/thread_api_dbus.cpp
  src/dbus/client/thread_api_dbus.hpp
  src/dbus/common/constants.hpp
  src/dbus/server/CMakeLists.txt
  src/dbus/server/dbus_thread_object.cpp
  src/dbus/server/dbus_thread_object.hpp
  src/dbus/server/introspect.xml
  src/ncp/CMakeLists.txt
  src/ncp/ncp_openthread.cpp
  src/ncp/ncp_openthread.hpp
  src/proto/CMakeLists.txt
  src/proto/feature_flag.proto
  tests/dbus/test_dbus_client.cpp
  tests/scripts/bootstrap.sh
  tests/scripts/check-android-build
  tests/scripts/check-scan-build
  tests/scripts/openwrt
Labels: comp: dbus

#1592 [mdns] replace the source of mDNSResponder
  script/bootstrap
  tests/scripts/bootstrap.sh
  tests/scripts/check-android-build
Labels: continuous-integration, mdns

#1531 [nat64] link libanl library to the otbr-agent module in Android.mk
  Android.mk
Labels: platform: android

#1587 [dbus] implement D-BUS API `GetBorderRoutingCounters`
  etc/cmake/options.cmake
  etc/docker/Dockerfile
  src/dbus/common/constants.hpp
  src/dbus/common/dbus_message_helper.hpp
  src/dbus/common/dbus_message_helper_openthread.cpp
  src/dbus/common/types.hpp
  src/dbus/server/dbus_thread_object.cpp
  src/dbus/server/dbus_thread_object.hpp
  src/dbus/server/introspect.xml
  third_party/openthread/CMakeLists.txt
Labels: comp: dbus

#1602 [build] fix the condition of enabling Border Routing counters
  etc/cmake/options.cmake
Labels: comp: build

#1611 [telemetry] make `Aborted` a separate error type in `MdnsTelemetryInfo`
  src/common/types.hpp
  src/dbus/common/dbus_message_helper.hpp
  src/dbus/common/dbus_message_helper_openthread.cpp
  src/dbus/server/introspect.xml
  src/mdns/mdns.cpp
Labels: mdns

#1613 [telemetry] increment `InvalidState` error count when mDNS publisher is not ready
  src/common/types.hpp
  src/dbus/common/dbus_message_helper.hpp
  src/dbus/common/dbus_message_helper_openthread.cpp
  src/dbus/server/introspect.xml
  src/mdns/mdns.cpp
  src/mdns/mdns.hpp
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_avahi.hpp
  src/mdns/mdns_mdnssd.cpp
  src/mdns/mdns_mdnssd.hpp
Labels: mdns

#1616 [github-actions] add Dependabot configuration for GitHub Actions updates
  .github/dependabot.yml
Labels: enhancement, P4, continuous-integration

#1627 [github-actions] disable `meshcop (mDNSResponder)` check
  .github/workflows/meshcop.yml
Labels: continuous-integration

#1623 [dbus] fix link counter values
  src/dbus/server/dbus_thread_object.cpp
Labels: bug, P4, comp: dbus

#1629 [dbus] change exit code for "LeaveNetwork"
  src/dbus/server/dbus_thread_object.cpp
  tests/dbus/keep_running.sh
Labels: enhancement, P4, comp: dbus

#1615 [dbus] unpublish mDNS services when leaving network
  src/dbus/server/dbus_thread_object.cpp
Labels: P4, comp: dbus

#1630 [srp-server] support `AutoEnableMode` for SRP server in OTBR
  .github/workflows/build.yml
  etc/cmake/options.cmake
  src/ncp/ncp_openthread.cpp
Labels: enhancement, comp: advertising-proxy

#1632 [dbus] add Thread version to neighbor table
  src/dbus/common/dbus_message_helper.hpp
  src/dbus/common/dbus_message_helper_openthread.cpp
  src/dbus/common/types.hpp
  src/dbus/server/dbus_thread_object.cpp
  src/dbus/server/introspect.xml
  tests/dbus/test-client
  tests/unit/test_dbus_message.cpp
Labels: enhancement, P4, comp: dbus

#1635 [dependabot] update commit message prefix
  .github/dependabot.yml
Labels: enhancement, P4, continuous-integration
