Repository openthread/ot-br-posix, pull requests merged in 2022-04, with the labels that each got.

#1325 [agent] remove `InstanceParams` class
  Android.mk
  src/agent/CMakeLists.txt
  src/agent/application.cpp
  src/agent/instance_params.cpp
  src/agent/instance_params.hpp
  src/agent/main.cpp
  src/backbone_router/backbone_agent.cpp
  src/backbone_router/backbone_agent.hpp
  src/backbone_router/dua_routing_manager.cpp
  src/backbone_router/dua_routing_manager.hpp
  src/backbone_router/nd_proxy.cpp
  src/backbone_router/nd_proxy.hpp
  src/border_agent/border_agent.hpp
Labels: comp: backbone router

#1326 [web-service] ot-client: add needed header for fd_set() call
  src/web/web-service/ot_client.cpp
Labels: comp: web service

#1335 [scripts] add `-std=c99` to android build
  tests/scripts/check-android-build
Labels: comp: build, platform: android

#1336 [openthread] disable TCPlp
  third_party/openthread/CMakeLists.txt
Labels: bug

#1319 [logging] set OTBR log level when OT log level changes
  src/common/logging.cpp
  src/common/logging.hpp
  src/ncp/ncp_openthread.cpp
  src/ncp/ncp_openthread.hpp
Labels: enhancement, P1, comp: logging

#1345 [ndproxy] fix binding to interface for macOS
  src/backbone_router/nd_proxy.cpp
Labels: bug
