Repository openthread/ot-br-posix, pull requests merged in 2022-12, with the labels that each got.

#1643 [docs] add security policy
  SECURITY.md
Labels: comp: docs

#1641 [dbus] add RA/RS fields for D-BUS API `GetBorderRoutingCounters`
  src/dbus/common/dbus_message_helper.hpp
  src/dbus/common/dbus_message_helper_openthread.cpp
  src/dbus/common/types.hpp
  src/dbus/server/dbus_thread_object.cpp
  src/dbus/server/introspect.xml
Labels: comp: dbus

#1660 [android] add `trel_dnssd.cpp` to Android.mk
  Android.mk
Labels: comp: build, platform: android

#1656 [meshcop] publish OMR prefix in TXT record
  etc/cmake/options.cmake
  src/border_agent/border_agent.cpp
Labels: border agent

#1659 [web/rest] listen on IPv6 addresses as well
  src/rest/rest_web_server.cpp
  src/rest/rest_web_server.hpp
  src/web/main.cpp
Labels: comp: web service

#1658 [rest] add active dataset API
  src/rest/json.cpp
  src/rest/json.hpp
  src/rest/resource.cpp
  src/rest/resource.hpp
  src/rest/types.hpp
Labels: comp: web service

#1665 [rest] use map for HTTP headers
  src/rest/response.cpp
  src/rest/response.hpp
Labels: enhancement, comp: web service

#1668 [web] use latest OpenThread logo
  src/web/web-service/frontend/res/img/openthread_logo.png
Labels: comp: web service

#1671 [web-service] include prompt when searching for `Done`
  src/web/web-service/ot_client.cpp
Labels: comp: web service

#1677 [continuous-integration] fix macOS CI
  .github/workflows/macOS.yml
Labels: continuous-integration

#1676 [docker] add `zeroconf` in the docker image for OTBR CI
  etc/docker/Dockerfile
Labels: continuous-integration, platform: docker

#1667 [web] bump to latest Simple-Web-Server version
  src/web/web-service/web_server.cpp
  third_party/Simple-web-server/README.md
  third_party/Simple-web-server/repo/CMakeLists.txt
  third_party/Simple-web-server/repo/LICENSE
  third_party/Simple-web-server/repo/README.md
  third_party/Simple-web-server/repo/asio_compatibility.hpp
  third_party/Simple-web-server/repo/client_http.hpp
  third_party/Simple-web-server/repo/client_https.hpp
  third_party/Simple-web-server/repo/crypto.hpp
  third_party/Simple-web-server/repo/docs/Doxyfile
  third_party/Simple-web-server/repo/docs/benchmarks.md
  third_party/Simple-web-server/repo/http_examples.cpp
  third_party/Simple-web-server/repo/https_examples.cpp
  third_party/Simple-web-server/repo/mutex.hpp
  third_party/Simple-web-server/repo/paper/.markdown-format
  third_party/Simple-web-server/repo/paper/paper.bib
  third_party/Simple-web-server/repo/paper/paper.md
  third_party/Simple-web-server/repo/server_http.hpp
  third_party/Simple-web-server/repo/server_https.hpp
  third_party/Simple-web-server/repo/status_code.hpp
  third_party/Simple-web-server/repo/tests/CMakeLists.txt
  third_party/Simple-web-server/repo/tests/assert.hpp
  third_party/Simple-web-server/repo/tests/crypto_test.cpp
  third_party/Simple-web-server/repo/tests/fuzzers/README.md
  third_party/Simple-web-server/repo/tests/fuzzers/http_header_field_value_semicolon_separated_attributes_parse.cpp
  third_party/Simple-web-server/repo/tests/fuzzers/http_header_parse.cpp
  third_party/Simple-web-server/repo/tests/fuzzers/percent_decode.cpp
  third_party/Simple-web-server/repo/tests/fuzzers/query_string_parse.cpp
  third_party/Simple-web-server/repo/tests/fuzzers/request_message_parse.cpp
  third_party/Simple-web-server/repo/tests/fuzzers/response_message_parse.cpp
  third_party/Simple-web-server/repo/tests/io_test.cpp
  third_party/Simple-web-server/repo/tests/parse_test.cpp
  third_party/Simple-web-server/repo/tests/status_code_test.cpp
  third_party/Simple-web-server/repo/utility.hpp
Labels: comp: web service

#1670 [rest] allow to specify REST listen address
  src/agent/application.cpp
  src/agent/application.hpp
  src/agent/main.cpp
  src/rest/rest_web_server.cpp
  src/rest/rest_web_server.hpp
Labels: comp: web service
