Repository openthread/ot-br-posix, pull requests merged in 2022-06, with the labels that each got.

#1396 [build] link `netfilter_queue` on demand
  src/backbone_router/CMakeLists.txt
Labels: comp: build, Thread 1.2

#1395 [build] fixes for Thread Version configuration
  script/_otbr
  third_party/openthread/CMakeLists.txt
Labels: comp: build

#1417 [dbus] fix `dbus/common/types.hpp`
  src/dbus/common/dbus_message_helper.hpp
  src/dbus/common/dbus_message_helper_openthread.cpp
  src/dbus/common/types.hpp
  src/dbus/server/dbus_thread_object.cpp
  tests/dbus/test_dbus_client.cpp
Labels: bug, comp: dbus

#1402 [agent] add command-line arg to disable auto attach
  .github/workflows/build.yml
  script/test
  src/agent/application.cpp
  src/agent/application.hpp
  src/agent/main.cpp
  src/ncp/ncp_openthread.cpp
  src/ncp/ncp_openthread.hpp
  tests/scripts/auto-attach
Labels: enhancement, P4

#1423 [dbus] add DBus API to get multiple properties
  src/dbus/common/constants.hpp
  src/dbus/server/dbus_object.hpp
  src/dbus/server/dbus_thread_object.cpp
  src/dbus/server/dbus_thread_object.hpp
  src/dbus/server/introspect.xml
  tests/dbus/test-client
Labels: enhancement, P4, comp: dbus

#1434 [dbus] add Thread Eui64 property
  src/dbus/common/constants.hpp
  src/dbus/server/dbus_thread_object.cpp
  src/dbus/server/dbus_thread_object.hpp
  src/dbus/server/introspect.xml
  tests/dbus/test-client
Labels: enhancement, P2, comp: dbus

#1430 [dbus] return delay timer from `AttachAllNodesTo`
  src/common/code_utils.hpp
  src/dbus/server/dbus_request.hpp
  src/dbus/server/dbus_thread_object.cpp
  src/dbus/server/introspect.xml
  src/utils/thread_helper.cpp
  src/utils/thread_helper.hpp
  tests/dbus/test-client
Labels: enhancement, P4, comp: dbus

#1439 [tests] fix DBus intermittent failures
  tests/dbus/test_dbus_client.cpp
Labels: bug, P4, continuous-integration

#1400 [dbus] add D-BUS API `GetMdnsInfo`
  .github/workflows/macOS.yml
  src/agent/application.cpp
  src/border_agent/border_agent.hpp
  src/common/types.hpp
  src/dbus/client/thread_api_dbus.cpp
  src/dbus/client/thread_api_dbus.hpp
  src/dbus/common/constants.hpp
  src/dbus/common/dbus_message_helper.hpp
  src/dbus/common/dbus_message_helper_openthread.cpp
  src/dbus/server/dbus_agent.cpp
  src/dbus/server/dbus_agent.hpp
  src/dbus/server/dbus_thread_object.cpp
  src/dbus/server/dbus_thread_object.hpp
  src/dbus/server/introspect.xml
  src/mdns/mdns.cpp
  src/mdns/mdns.hpp
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_avahi.hpp
  src/mdns/mdns_mdnssd.cpp
  src/mdns/mdns_mdnssd.hpp
  tests/dbus/test_dbus_client.cpp
Labels: comp: dbus
