Repository openthread/ot-br-posix, pull requests merged in 2023-11, with the labels that each got.

#2068 [build] add `openthread-radio-spinel` to lib dependencies
  src/agent/CMakeLists.txt
Labels: P4, comp: build, dependencies

#2036 [telemetry] add link metrics telemetry
  etc/cmake/options.cmake
  script/test
  src/proto/thread_telemetry.proto
  src/utils/thread_helper.cpp
  tests/dbus/test_dbus_client.cpp
  third_party/openthread/CMakeLists.txt
Labels: enhancement, comp: telemetry

#2083 [ot-client] fix buffer overflow in `OpenThreadClient::Execute`
  src/web/web-service/ot_client.cpp
  tests/unit/test_pskc.cpp
Labels: comp: web service

#2100 [docs] update Code of Conduct to Contributor Covenant v2.1
  CODE_OF_CONDUCT.md
Labels: comp: docs
