Repository openthread/ot-br-posix, pull requests merged in 2023-12, with the labels that each got.

#2111 [nat64] fix compiler warnings for unused return values
  src/dbus/server/dbus_thread_object.cpp
Labels: bug

#2118 [trel-dnssd] prioritize wider-scope IPv6 address of TREL peers
  src/trel_dnssd/trel_dnssd.cpp
Labels: enhancement, P3, comp: trel

#2101 [docs] update `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: comp: docs

#2126 [dbus] fix `introspect.xml` for `AddOnMeshPrefix()`
  src/dbus/server/introspect.xml
Labels: bug, comp: dbus

#2128 [dbus] introduce `DbusMessageIterRecurse` that checks the type of data
  src/dbus/common/dbus_message_helper.cpp
  src/dbus/common/dbus_message_helper.hpp
  src/dbus/common/dbus_message_helper_openthread.cpp
Labels: bug, comp: dbus

#2135 [dbus] add OTBR_PACKAGE_VERSION
  src/dbus/common/constants.hpp
  src/dbus/server/dbus_thread_object.cpp
  src/dbus/server/dbus_thread_object.hpp
  src/dbus/server/introspect.xml
Labels: comp: dbus
