Repository openthread/ot-br-posix, pull requests merged in 2023-02, with the labels that each got.

#1733 [build] remove Android.mk
  .github/workflows/build.yml
  Android.mk
  tests/scripts/bootstrap.sh
  tests/scripts/check-android-build
Labels: comp: build

#1745 [tests] update router reset wait time
  tests/scripts/auto-attach
Labels: continuous-integration

#1719 [docker] retry reading syslog
  etc/docker/docker_entrypoint.sh
Labels: platform: docker

#1722 [docker] perform a proper shutdown
  etc/docker/docker_entrypoint.sh
  script/server
  tests/scripts/check-docker
Labels: platform: docker

#1757 [continuous-integration] fix macOS CI by installing pkg-config
  .github/workflows/macOS.yml
Labels: continuous-integration

#1756 [docker] accelerate building an OTBR docker image by cache
  etc/docker/Dockerfile
Labels: platform: docker

#1759 [cmake] sort the options in `openthread/CMakeLists.txt`
  third_party/openthread/CMakeLists.txt
Labels: enhancement, P4, comp: build

#1763 [cmake] update enabled OT options in `openthread/CMakeLists.txt`
  third_party/openthread/CMakeLists.txt
Labels: enhancement, comp: build
