Repository openthread/ot-br-posix, pull requests merged in 2023-09, with the labels that each got.

#1990 [docker] cleanup `/tmp`
  etc/docker/Dockerfile
Labels: platform: docker

#1992 [mdns] update 'TxtEntry' to handle boolean attribute
  src/border_agent/border_agent.cpp
  src/mdns/mdns.cpp
  src/mdns/mdns.hpp
  src/mdns/mdns_avahi.cpp
  src/sdp_proxy/advertising_proxy.cpp
  src/trel_dnssd/trel_dnssd.cpp
  tests/mdns/main.cpp
Labels: mdns, comp: dns, comp: advertising-proxy

#1996 [mdns] change `PublishService()` to get encoded TXT data as input
  src/border_agent/border_agent.cpp
  src/mdns/mdns.cpp
  src/mdns/mdns.hpp
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_avahi.hpp
  src/mdns/mdns_mdnssd.cpp
  src/mdns/mdns_mdnssd.hpp
  src/sdp_proxy/advertising_proxy.cpp
  src/sdp_proxy/advertising_proxy.hpp
  src/trel_dnssd/trel_dnssd.cpp
  src/trel_dnssd/trel_dnssd.hpp
  tests/mdns/main.cpp
Labels: enhancement, P4, mdns, comp: dns

#1999 [mdns-avahi] simplify TXT data conversion to `AvahiStringList`
  src/mdns/mdns_avahi.cpp
Labels: enhancement, P4, mdns, Avahi

#2000 [mdns] small enhancements
  src/mdns/mdns.cpp
  src/mdns/mdns.hpp
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_avahi.hpp
  src/mdns/mdns_mdnssd.cpp
  src/mdns/mdns_mdnssd.hpp
Labels: enhancement, P4, mdns

#2004 [mdns-mdnssd] ensure allocated `DnssdHostRegistration` is freed
  src/mdns/mdns_mdnssd.cpp
Labels: enhancement, mdns, mDNSResponder

#2006 [tests] fix service type names used in `mdns/main` tests
  src/mdns/mdns.hpp
  src/mdns/mdns_mdnssd.cpp
  src/mdns/mdns_mdnssd.hpp
  tests/mdns/main.cpp
Labels: enhancement, P4, mdns

#2012 [mdns-mdnssd] handle deallocated `ServiceRef`s as processing run loop
  src/mdns/mdns_mdnssd.cpp
  src/mdns/mdns_mdnssd.hpp
Labels: enhancement, P4, mdns, mDNSResponder

#2013 [mdns-mdnssd] fix access of freed `mHostsRef` in `Stop()`
  src/mdns/mdns_mdnssd.cpp
  src/mdns/mdns_mdnssd.hpp
Labels: enhancement, P4, mdns, mDNSResponder

#1997 [firewall] add switches to turn on/off iptables firewall
  etc/docker/Dockerfile
  script/_firewall
  script/_otbr
  script/bootstrap
Labels: comp: build

#2026 [tests] remove the assert on `preferredChannelMask` value
  tests/dbus/test_dbus_client.cpp
Labels: continuous-integration

#2011 [openwrt] enable `OTBR_NAT64` and `INFRA_IF` by default and add UCI config
  etc/openwrt/openthread-br/Makefile
  src/openwrt/otbr-agent.init.in
  src/openwrt/otbr-agent.uci-config.in
Labels: comp: build, platform: openwrt

#2008 [mdns-mdnssd] simplify service and host registrations
  src/mdns/mdns_mdnssd.cpp
  src/mdns/mdns_mdnssd.hpp
Labels: enhancement, mdns, mDNSResponder

#2019 [mdns-avahi] handle freed `AvahiWatch/Timeout` entries as processing run loop
  src/mdns/mdns_avahi.cpp
Labels: enhancement, P4, mdns, Avahi
