Repository openthread/ot-br-posix, pull requests merged in 2024-09, with the labels that each got.

#2452 [posix] add netif TUN Ip6 Sending
  src/ncp/ncp_host.cpp
  src/ncp/ncp_spinel.cpp
  src/ncp/ncp_spinel.hpp
  src/ncp/posix/netif.cpp
  src/ncp/posix/netif.hpp
  tests/gtest/test_netif.cpp
Labels: P2, comp: ncp, platform: posix

#2469 [application] simplify fdset update
  src/backbone_router/nd_proxy.cpp
  src/common/mainloop.cpp
  src/common/mainloop.hpp
  src/common/task_runner.cpp
  src/dbus/server/dbus_agent.cpp
  src/mdns/mdns_mdnssd.cpp
  src/ncp/posix/netif.cpp
  src/openwrt/ubus/otubus.cpp
  src/rest/rest_web_server.cpp
  src/utils/infra_link_selector.cpp
Labels: enhancement, P4

#2467 [ncp] integrate Netif TX/RX with Ncp
  src/ncp/ncp_host.cpp
  src/ncp/ncp_spinel.cpp
  src/ncp/ncp_spinel.hpp
  tests/scripts/expect/_common.exp
  tests/scripts/expect/ncp_netif_tx_rx.exp
Labels: P2, comp: ncp, platform: posix

#2479 [netif] refactor Netif and NcpSpinel
  src/ncp/ncp_host.cpp
  src/ncp/ncp_spinel.hpp
  src/ncp/posix/netif.cpp
  src/ncp/posix/netif.hpp
  tests/gtest/test_netif.cpp
Labels: P3, comp: ncp, platform: posix

#2487 [log] fix ncp spinel log
  src/ncp/ncp_spinel.cpp
Labels: enhancement, P4, comp: logging, comp: ncp

#2478 [netif] add wpan multicast group join for NCP
  src/ncp/ncp_spinel.cpp
  src/ncp/ncp_spinel.hpp
  src/ncp/posix/netif.cpp
  src/ncp/posix/netif.hpp
  tests/gtest/test_netif.cpp
Labels: P2, comp: thread controller, comp: ncp, platform: posix

#2496 [border-agent] add error reply for DeactivateEphemeralKeyMode dbus API
  src/dbus/server/dbus_thread_object_rcp.cpp
Labels: comp: border agent

#2498 [ncp] integrate netif multicast address subscription
  src/ncp/ncp_spinel.cpp
  src/ncp/ncp_spinel.hpp
  src/ncp/posix/netif.cpp
Labels: P2, comp: ncp

#2499 [bootstrap] install iperf3 for reference devices
  script/bootstrap
Labels: certification

#2507 [github-actions] migrate from `macos-12` to `macos-14`
  .github/workflows/macOS.yml
  src/proto/CMakeLists.txt
Labels: github_actions
