Repository openthread/ot-br-posix, pull requests merged in 2024-07, with the labels that each got.

#2350 [ncp] add ncp spinel and implement GetDeviceRole
  src/ncp/CMakeLists.txt
  src/ncp/ncp_host.cpp
  src/ncp/ncp_host.hpp
  src/ncp/ncp_spinel.cpp
  src/ncp/ncp_spinel.hpp
  src/ncp/rcp_host.cpp
  tests/scripts/expect/ncp_get_device_role.exp
Labels: P2, comp: thread controller

#2357 [cmake] fix cmake warnings
  src/agent/CMakeLists.txt
Labels: comp: build

#2353 [tests] enhance expect test framework for ncp_mode
  tests/scripts/expect/_common.exp
  tests/scripts/expect/ncp_get_device_role.exp
  tests/scripts/ncp_mode
Labels: enhancement, P3, github_actions, comp: ncp

#2362 [tests] use more accurate EXPECT_* in tests
  src/common/types.cpp
  src/common/types.hpp
  tests/gtest/test_common_types.cpp
  tests/gtest/test_dbus_message.cpp
  tests/gtest/test_logging.cpp
  tests/gtest/test_mdns_mdnssd.cpp
  tests/gtest/test_task_runner.cpp
Labels: continuous-integration

#2366 [github-actions] update the build directory for otbr-agent
  .github/workflows/ncp_mode.yml
  script/test
Labels: github_actions, comp: ncp

#2377 [github-actions] fix code coverage of ncp mode CI
  .github/workflows/meshcop.yml
  .github/workflows/ncp_mode.yml
Labels: bug, P3, github_actions

#2381 [github-actions] fix ADVERTISING_PROXY option
  .github/workflows/macOS.yml
Labels: P4, github_actions

#2385 [continuous-integration] fix the path for uploading artifacts when BR test fails
  .github/workflows/border_router.yml
Labels: continuous-integration, github_actions

#2361 [telemetry] add `peer_br_count` in InfraLinkInfo
  src/proto/thread_telemetry.proto
  src/utils/thread_helper.cpp
  src/utils/thread_helper.hpp
  tests/dbus/test_dbus_client.cpp
Labels: comp: telemetry

#2399 [dbus] fix `u_int16_t` typo
  src/dbus/common/types.hpp
Labels: bug

#2395 [ncp] fix a compilation issue in `ncp_spinel.cpp`
  src/ncp/ncp_spinel.cpp
Labels: comp: ncp

#2387 [host] add network properties class
  src/border_agent/border_agent.cpp
  src/dbus/server/dbus_thread_object_ncp.cpp
  src/ncp/ncp_host.cpp
  src/ncp/ncp_host.hpp
  src/ncp/ncp_spinel.cpp
  src/ncp/ncp_spinel.hpp
  src/ncp/rcp_host.cpp
  src/ncp/rcp_host.hpp
  src/ncp/thread_host.hpp
  src/utils/thread_helper.cpp
Labels: enhancement, P2, comp: thread controller, comp: ncp
