Repository openthread/ot-br-posix, pull requests merged in 2024-08, with the labels that each got.

#2355 [controller] add join and leave api
  src/dbus/common/constants.hpp
  src/dbus/server/dbus_thread_object_ncp.cpp
  src/dbus/server/dbus_thread_object_ncp.hpp
  src/ncp/CMakeLists.txt
  src/ncp/async_task.cpp
  src/ncp/async_task.hpp
  src/ncp/ncp_host.cpp
  src/ncp/ncp_host.hpp
  src/ncp/ncp_spinel.cpp
  src/ncp/ncp_spinel.hpp
  src/ncp/rcp_host.cpp
  src/ncp/rcp_host.hpp
  src/ncp/thread_host.hpp
  tests/gtest/CMakeLists.txt
  tests/gtest/test_async_task.cpp
  tests/scripts/expect/ncp_join_leave.exp
  tests/scripts/ncp_mode
Labels: P2, comp: thread controller, comp: ncp

#2368 [ePSKc] runtime enable/disable EphemeralKey feature
  src/agent/application.cpp
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
  src/dbus/client/thread_api_dbus.cpp
  src/dbus/client/thread_api_dbus.hpp
  src/dbus/common/constants.hpp
  src/dbus/server/dbus_agent.cpp
  src/dbus/server/dbus_agent.hpp
  src/dbus/server/dbus_thread_object_rcp.cpp
  src/dbus/server/dbus_thread_object_rcp.hpp
  src/dbus/server/introspect.xml
  tests/dbus/test_dbus_client.cpp
Labels: comp: dbus

#2421 [openwrt] disable NAT64 on OpenWRT
  etc/openwrt/openthread-br/Makefile
Labels: comp: build, platform: openwrt

#2416 [ncp] update the frame handling of ncp spinel
  src/ncp/ncp_spinel.cpp
  src/ncp/ncp_spinel.hpp
Labels: P2, comp: ncp

#2407 [dbus] add APIs to activate/deactivate ePSKc mode
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
  src/dbus/common/constants.hpp
  src/dbus/server/dbus_thread_object_rcp.cpp
  src/dbus/server/dbus_thread_object_rcp.hpp
  src/dbus/server/introspect.xml
Labels: comp: dbus, comp:epskc

#2419 [posix] set addr gen mode to none on linux
  src/ncp/posix/netif.cpp
  src/ncp/posix/netif.hpp
  src/ncp/posix/netif_linux.cpp
  src/ncp/posix/netif_unix.cpp
  tests/gtest/test_netif.cpp
Labels: P2, comp: ncp, platform: posix

#2427 [dbus] add dbus ScheduleMigration API for NCP
  src/dbus/common/constants.hpp
  src/dbus/server/dbus_thread_object_ncp.cpp
  src/dbus/server/dbus_thread_object_ncp.hpp
  src/utils/thread_helper.cpp
  src/utils/thread_helper.hpp
  tests/scripts/expect/ncp_test_schedule_migration_dbus_api.exp
  tests/scripts/ncp_mode
Labels: P2, comp: dbus, comp: ncp

#2431 [posix] add unicast address update in netif module
  src/common/types.cpp
  src/common/types.hpp
  src/ncp/posix/netif.cpp
  src/ncp/posix/netif.hpp
  src/ncp/posix/netif_linux.cpp
  src/ncp/posix/netif_unix.cpp
  tests/gtest/test_netif.cpp
Labels: P2, comp: ncp, platform: posix

#2417 [ncp] update implementation of NcpSpinel DatasetSetActiveTlvs
  src/ncp/ncp_spinel.cpp
  src/ncp/ncp_spinel.hpp
Labels: P2, comp: ncp

#2438 [tests] enhance the ncp mode test script
  tests/scripts/ncp_mode
Labels: enhancement, P4, github_actions

#2435 [controller] add schedule migration API
  src/dbus/server/dbus_thread_object_ncp.cpp
  src/ncp/ncp_host.cpp
  src/ncp/ncp_host.hpp
  src/ncp/ncp_spinel.cpp
  src/ncp/ncp_spinel.hpp
  src/ncp/rcp_host.cpp
  src/ncp/rcp_host.hpp
  src/ncp/thread_host.hpp
  tests/scripts/expect/ncp_schedule_migration.exp
  tests/scripts/expect/ncp_test_schedule_migration_dbus_api.exp
Labels: P2, comp: thread controller

#2437 [ncp] integrate netif unicast address update
  src/common/types.hpp
  src/ncp/CMakeLists.txt
  src/ncp/ncp_host.cpp
  src/ncp/ncp_host.hpp
  src/ncp/ncp_spinel.cpp
  src/ncp/ncp_spinel.hpp
  src/ncp/posix/netif.cpp
  src/ncp/posix/netif.hpp
  src/ncp/posix/netif_unix.cpp
  tests/gtest/test_netif.cpp
  tests/scripts/expect/ncp_netif_address_update.exp
Labels: P2, comp: ncp, platform: posix

#2447 [posix] add multicast address update in netif module
  src/ncp/posix/netif.cpp
  src/ncp/posix/netif.hpp
  tests/gtest/test_netif.cpp
Labels: P2, comp: ncp, platform: posix

#2453 [posix] add netif SetState
  src/ncp/posix/netif.cpp
  src/ncp/posix/netif.hpp
  tests/gtest/test_netif.cpp
Labels: P2, platform: posix

#2459 [ncp] integrate netif isUp state update
  src/ncp/ncp_host.cpp
  src/ncp/ncp_spinel.cpp
  src/ncp/ncp_spinel.hpp
  tests/scripts/expect/ncp_netif_address_update.exp
Labels: P2, comp: thread controller, platform: posix

#2460 [ncp] integrate netif multicast address update
  src/ncp/ncp_host.cpp
  src/ncp/ncp_spinel.cpp
  src/ncp/ncp_spinel.hpp
  tests/scripts/expect/ncp_netif_address_update.exp
Labels: P2, comp: ncp, platform: posix

#2455 [posix] add netif TUN Ip6Receive
  src/common/types.hpp
  src/ncp/posix/netif.cpp
  src/ncp/posix/netif.hpp
  tests/gtest/test_netif.cpp
Labels: P2, platform: posix
