Repository openthread/ot-br-posix, pull requests merged in 2024-05, with the labels that each got.

#2247 [border-agent] config related OpenThread core build flag according to OTBR_EPSKC option
  etc/cmake/options.cmake
  third_party/openthread/CMakeLists.txt
Labels: comp: border agent

#2259 [border-agent] add `_meshcop-e` service for ePSKc mode
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
Labels: comp: border agent

#2294 [ncp] rename `ControllerOpenThread` to `RcpHost`
  src/agent/application.cpp
  src/agent/application.hpp
  src/agent/main.cpp
  src/backbone_router/backbone_agent.cpp
  src/backbone_router/backbone_agent.hpp
  src/backbone_router/dua_routing_manager.hpp
  src/backbone_router/nd_proxy.cpp
  src/backbone_router/nd_proxy.hpp
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
  src/common/mainloop_manager.hpp
  src/dbus/server/dbus_agent.cpp
  src/dbus/server/dbus_agent.hpp
  src/dbus/server/dbus_thread_object.cpp
  src/dbus/server/dbus_thread_object.hpp
  src/ncp/CMakeLists.txt
  src/ncp/rcp_host.cpp
  src/ncp/rcp_host.hpp
  src/openwrt/ubus/otubus.cpp
  src/openwrt/ubus/otubus.hpp
  src/rest/resource.cpp
  src/rest/resource.hpp
  src/rest/rest_web_server.cpp
  src/rest/rest_web_server.hpp
  src/sdp_proxy/advertising_proxy.cpp
  src/sdp_proxy/advertising_proxy.hpp
  src/sdp_proxy/discovery_proxy.cpp
  src/sdp_proxy/discovery_proxy.hpp
  src/trel_dnssd/trel_dnssd.cpp
  src/trel_dnssd/trel_dnssd.hpp
  src/utils/thread_helper.cpp
  src/utils/thread_helper.hpp
Labels: enhancement, P3, comp: thread controller

#2301 [script] refactor `script/server`
  script/_initrc
  script/server
Labels: cleanup

#2302 [application] refactor constructor to allow flexible initialization
  src/agent/application.cpp
  src/agent/application.hpp
Labels: enhancement, P2, comp: thread controller

#2284 [telemetry] add external route related telemetry
  src/common/types.cpp
  src/common/types.hpp
  src/proto/thread_telemetry.proto
  src/utils/thread_helper.cpp
  src/utils/thread_helper.hpp
  tests/dbus/test_dbus_client.cpp
  tests/unit/CMakeLists.txt
  tests/unit/test_common_types.cpp
Labels: comp: telemetry

#2304 [controller] add Thread controller interface for unified APIs
  src/ncp/rcp_host.cpp
  src/ncp/rcp_host.hpp
  src/ncp/thread_controller.hpp
Labels: enhancement, P2, comp: thread controller
