Repository openthread/ot-br-posix, pull requests merged in 2024-10, with the labels that each got.

#2501 [infra if] add platform infra if module
  src/ncp/posix/CMakeLists.txt
  src/ncp/posix/infra_if.cpp
  src/ncp/posix/infra_if.hpp
  tests/gtest/CMakeLists.txt
  tests/gtest/test_infra_if.cpp
Labels: P2, comp: ncp, platform: posix

#2533 [infra if] implement infra if state update
  src/ncp/posix/infra_if.cpp
  src/ncp/posix/infra_if.hpp
  tests/gtest/test_infra_if.cpp
Labels: P2, comp: ncp, platform: posix

#2542 [host] add SetThreadEnabled to ThreadHost APIs
  src/ncp/ncp_host.cpp
  src/ncp/ncp_host.hpp
  src/ncp/rcp_host.cpp
  src/ncp/rcp_host.hpp
  src/ncp/thread_host.hpp
Labels: P2, comp: thread controller

#2540 [host] add active dataset as a network property
  src/ncp/ncp_host.cpp
  src/ncp/ncp_host.hpp
  src/ncp/ncp_spinel.cpp
  src/ncp/ncp_spinel.hpp
  src/ncp/rcp_host.cpp
  src/ncp/rcp_host.hpp
  src/ncp/thread_host.hpp
Labels: P2, comp: thread controller, comp: ncp

#2534 [infra if] implement infra if send icmp6 nd
  src/ncp/posix/infra_if.cpp
  src/ncp/posix/infra_if.hpp
Labels: P2, comp: ncp, platform: posix

#2550 [thread-host] add set country code api
  src/ncp/ncp_host.cpp
  src/ncp/ncp_host.hpp
  src/ncp/rcp_host.cpp
  src/ncp/rcp_host.hpp
  src/ncp/thread_host.hpp
Labels: P2, comp: thread controller

#2553 [thread-host] add get channel mask
  src/ncp/ncp_host.cpp
  src/ncp/ncp_host.hpp
  src/ncp/rcp_host.cpp
  src/ncp/rcp_host.hpp
  src/ncp/thread_host.hpp
Labels: P2, comp: thread controller

#2549 [test] add unit test framework for ThreadHost APIs (RCP)
  CMakeLists.txt
  src/agent/CMakeLists.txt
  src/common/CMakeLists.txt
  src/common/logging.cpp
  src/common/logging.hpp
  src/ncp/thread_host.cpp
  src/ncp/thread_host.hpp
  tests/gtest/CMakeLists.txt
  tests/gtest/fake_posix_platform.cpp
  tests/gtest/test_rcp_host_api.cpp
Labels: enhancement, P3, comp: thread controller

#2547 [infra if] add infra if icmp6 nd receiving
  src/ncp/posix/infra_if.cpp
  src/ncp/posix/infra_if.hpp
  tests/gtest/test_infra_if.cpp
Labels: P2, comp: ncp, platform: posix

#2560 [mdns] refactor mDNS State subscription
  src/agent/application.cpp
  src/agent/application.hpp
  src/border_agent/border_agent.hpp
  src/mdns/mdns.cpp
  src/mdns/mdns.hpp
  src/sdp_proxy/advertising_proxy.hpp
  src/sdp_proxy/discovery_proxy.hpp
  src/trel_dnssd/trel_dnssd.hpp
Labels: enhancement, P2, mdns, comp: thread controller

#2563 [github-action] enhance ncp mode workflow
  .github/workflows/ncp_mode.yml
  script/test
  tests/scripts/ncp_mode
Labels: enhancement, P2, github_actions, comp: ncp

#2444 [border-agent] improve the documentation returned by --help
  src/agent/main.cpp
Labels: comp: border agent

#2564 [tests] add unit test for RcpHost SetCountryCode
  tests/gtest/fake_posix_platform.cpp
  tests/gtest/test_rcp_host_api.cpp
Labels: enhancement, P3, comp: thread controller

#2551 [thread-host] add set channel max power api
  src/ncp/ncp_host.cpp
  src/ncp/ncp_host.hpp
  src/ncp/rcp_host.cpp
  src/ncp/rcp_host.hpp
  src/ncp/thread_host.hpp
Labels: P2, comp: thread controller
