Repository openthread/ot-br-posix, pull requests merged in 2024-01, with the labels that each got.

#2148 [mdns] fixes of mDNS subscriptions
  src/mdns/mdns.cpp
  src/mdns/mdns.hpp
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_mdnssd.cpp
  src/mdns/mdns_mdnssd.hpp
  tests/mdns/CMakeLists.txt
  tests/mdns/test_subscribe.cpp
Labels: bug, mdns, Avahi, mDNSResponder

#2131 [dbus] implement D-BUS API GetTrelInfo
  .github/workflows/build.yml
  src/dbus/client/thread_api_dbus.cpp
  src/dbus/client/thread_api_dbus.hpp
  src/dbus/common/constants.hpp
  src/dbus/common/dbus_message_helper.hpp
  src/dbus/common/dbus_message_helper_openthread.cpp
  src/dbus/common/types.hpp
  src/dbus/server/dbus_thread_object.cpp
  src/dbus/server/dbus_thread_object.hpp
  src/proto/thread_telemetry.proto
  src/utils/thread_helper.cpp
  tests/dbus/test_dbus_client.cpp
Labels: comp: dbus, comp: trel

#2142 [telemetry] add protobuf for upstream DNS metrics
  src/proto/thread_telemetry.proto
  src/utils/thread_helper.cpp
Labels: comp: dns, comp: telemetry

#2022 [mdns] add `PublishKey()` & `UnpublishKey()` methods
  src/common/types.hpp
  src/mdns/mdns.cpp
  src/mdns/mdns.hpp
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_avahi.hpp
  src/mdns/mdns_mdnssd.cpp
  src/mdns/mdns_mdnssd.hpp
  tests/mdns/main.cpp
Labels: enhancement, P4, mdns, Avahi, mDNSResponder

#2173 [android] exit ot-daemon when factoryreset
  src/agent/main.cpp
Labels: platform: android
