Repository openthread/ot-br-posix, pull requests merged in 2024-04, with the labels that each got.

#2236 [continuous-integration] install `socat` for docker-based BR tests
  etc/docker/Dockerfile
Labels: continuous-integration, platform: docker

#2246 [border-agent] update State Bitmap for ePSKc capability
  etc/cmake/options.cmake
  src/border_agent/border_agent.cpp
Labels: comp: border agent

#2251 [feature-flag] add a feature flag to control link metrics manager
  src/ncp/ncp_openthread.cpp
  src/proto/feature_flag.proto
Labels: P3, comp: telemetry
