Repository openthread/ot-br-posix, pull requests merged in 2024-06, with the labels that each got.

#2313 [tests] fix the telemetry test for verifying the RLOC16
  tests/dbus/test_dbus_client.cpp
Labels: continuous-integration

#2312 [telemetry] fix and refactor the PD processing
  src/utils/thread_helper.cpp
  src/utils/thread_helper.hpp
  tests/dbus/test_dbus_client.cpp
Labels: enhancement, comp: telemetry

#2309 [controller] allows polymorphism of the controller
  src/agent/CMakeLists.txt
  src/agent/application.cpp
  src/agent/application.hpp
  src/agent/main.cpp
  src/common/code_utils.hpp
  src/ncp/CMakeLists.txt
  src/ncp/rcp_host.cpp
  src/ncp/rcp_host.hpp
  src/ncp/thread_controller.cpp
  src/ncp/thread_controller.hpp
Labels: P2, comp: thread controller

#2332 [controller] rename to ThreadController to ThreadHost
  src/agent/application.cpp
  src/agent/application.hpp
  src/agent/main.cpp
  src/ncp/CMakeLists.txt
  src/ncp/rcp_host.hpp
  src/ncp/thread_host.cpp
  src/ncp/thread_host.hpp
Labels: P4, comp: thread controller

#2341 [border-agent] log the RCP version when the otbr-agent starts
  src/agent/application.cpp
  src/agent/main.cpp
Labels: enhancement, P4

#2345 [tests] fix expect test
  .github/workflows/ncp_mode.yml
  tests/scripts/expect/ncp_version.exp
  tests/scripts/ncp_mode
Labels: bug, P3, github_actions
