Repository openthread/ot-br-posix, pull requests merged in 2024-03, with the labels that each got.

#2209 [mdns-avahi] allow `UnsubscribeService/Host()` to remove non-present entries
  src/mdns/mdns_avahi.cpp
Labels: mdns, Avahi

#2218 [github-actions] fix macOS CI
  .github/workflows/macOS.yml
Labels: continuous-integration

#2210 [mdns-avahi] handle potential unknown Avahi states gracefully
  src/mdns/mdns_avahi.cpp
Labels: mdns, Avahi

#2220 [ncp] clear handlers and callbacks in `ControllerOpenThread::Deinit()`
  src/ncp/ncp_openthread.cpp
Labels: bug

#2200 [meshcop] support runtime custom vendor and product name
  src/agent/application.cpp
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
  src/common/types.hpp
Labels: mdns

#2233 [border-agent] remove duplicate callback registrations
  src/border_agent/border_agent.cpp
Labels: bug, comp: border agent
