Repository openthread/ot-br-posix, pull requests merged in 2024-02, with the labels that each got.

#2180 [border-agent] decouple `BorderAgent` class from irrelevant responsibilities
  .github/workflows/macOS.yml
  src/agent/application.cpp
  src/agent/application.hpp
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
  src/mdns/mdns.cpp
  src/mdns/mdns.hpp
  src/sdp_proxy/advertising_proxy.cpp
  src/sdp_proxy/advertising_proxy.hpp
  src/sdp_proxy/discovery_proxy.cpp
  src/sdp_proxy/discovery_proxy.hpp
  src/trel_dnssd/trel_dnssd.cpp
  src/trel_dnssd/trel_dnssd.hpp
Labels: enhancement, border agent

#2198 [openwrt] remove usage of `OT_NETWORK_DIAGNOSTIC_TYPELIST_MAX_ENTRIES`
  src/openwrt/ubus/otubus.cpp
Labels: platform: openwrt

#2204 [github-actions] add `brew upgrade node`
  .github/workflows/macOS.yml
Labels: continuous-integration

#2206 [mdns] allow `UnsubscribeService/Host()` to remove non-present entries
  src/mdns/mdns_mdnssd.cpp
Labels: mdns

#2208 [discovery-proxy] remove `assert` checks on query name parse errors
  src/sdp_proxy/discovery_proxy.cpp
Labels: bug, comp: discovery proxy
