Repository openthread/ot-br-posix, pull requests merged in 2024-11, with the labels that each got.

#2579 [trel] updates for switching trel interface
  src/trel_dnssd/trel_dnssd.cpp
Labels: comp: trel

#2562 [ncp] integrate InfraIf module with NcpHost to make border routing work
  src/ncp/ncp_host.cpp
  src/ncp/ncp_host.hpp
  src/ncp/ncp_spinel.cpp
  src/ncp/ncp_spinel.hpp
  src/ncp/thread_host.cpp
  tests/scripts/bootstrap.sh
  tests/scripts/expect/_common.exp
  tests/scripts/expect/ncp_border_routing.exp
  tests/scripts/ncp_mode
Labels: P2, comp: border router, comp: thread controller, comp: ncp

#2587 [thread-host] make AddThreadStateChangedCallback as a ThreadHost API
  src/ncp/ncp_host.cpp
  src/ncp/ncp_host.hpp
  src/ncp/rcp_host.hpp
  src/ncp/thread_host.hpp
Labels: P2, comp: thread controller

#2574 [application] move ThreadHost::Create out of the Application class
  src/agent/application.cpp
  src/agent/application.hpp
  src/agent/main.cpp
Labels: enhancement, P2, comp: thread controller

#2585 [ncp] fix ncp spinel parsing methods
  src/ncp/ncp_spinel.cpp
  src/ncp/ncp_spinel.hpp
Labels: bug, P1, comp: ncp

#2590 [options] add an option to control power calibration
  etc/cmake/options.cmake
  src/ncp/ncp_host.cpp
  src/ncp/ncp_host.hpp
  src/ncp/rcp_host.cpp
  src/ncp/rcp_host.hpp
  src/ncp/thread_host.hpp
Labels: P1, comp: build

#2596 [github-actions] fix MacOS build error: unlink pkg-config before reinstalling
  .github/workflows/macOS.yml
Labels: github_actions

#2595 [pd] pd daemon service: remove redundant subprocess 'sudo' in python script
  script/reference-device/dhcp6_pd_daemon.py
Labels: bug, comp: pd

#2598 [thread-host] add common network properties
  src/ncp/ncp_host.cpp
  src/ncp/ncp_host.hpp
  src/ncp/rcp_host.cpp
  src/ncp/rcp_host.hpp
  src/ncp/thread_host.hpp
Labels: P2, comp: thread controller, comp: ncp

#2599 [posix] add virtual destructor for InfraIf::Dependencies
  src/ncp/posix/infra_if.hpp
Labels: enhancement, P2, platform: posix

#2612 [thread-host] add ThreadEnabled state callback
  src/ncp/ncp_host.cpp
  src/ncp/ncp_host.hpp
  src/ncp/rcp_host.cpp
  src/ncp/rcp_host.hpp
  src/ncp/thread_host.hpp
  tests/gtest/test_rcp_host_api.cpp
Labels: P2, comp: thread controller

#2619 [continuous-integration] fix and clean up macOS.yml
  .github/workflows/macOS.yml
Labels: continuous-integration

#2614 [log] add Android log system support
  src/agent/main.cpp
  src/common/logging.cpp
Labels: enhancement, P4, platform: android, comp: logging

#2622 [github-actions] fix NCP border routing setup
  tests/scripts/ncp_mode
Labels: bug, P2, github_actions

#2618 [thread-host] update Leave method
  src/dbus/server/dbus_thread_object_ncp.cpp
  src/ncp/ncp_host.cpp
  src/ncp/ncp_host.hpp
  src/ncp/rcp_host.cpp
  src/ncp/rcp_host.hpp
  src/ncp/thread_host.hpp
  tests/gtest/test_rcp_host_api.cpp
Labels: P2, comp: thread controller
