Repository openthread/ot-br-posix, pull requests merged in 2025-04, with the labels that each got.

#2787 [cmake] add `-DCMAKE_POLICY_VERSION_MINIMUM=3.5`
  .github/workflows/build.yml
  script/cmake-build
  tests/scripts/check-scan-build
  tests/scripts/meshcop
Labels: comp: build

#2780 [docker] introduce new border router image
  .github/workflows/docker-border-router.yml
  etc/docker/border-router/Dockerfile
  etc/docker/border-router/otbr-env.list
  etc/docker/border-router/rootfs/etc/s6-overlay/s6-rc.d/mdns/finish
  etc/docker/border-router/rootfs/etc/s6-overlay/s6-rc.d/mdns/run
  etc/docker/border-router/rootfs/etc/s6-overlay/s6-rc.d/mdns/type
  etc/docker/border-router/rootfs/etc/s6-overlay/s6-rc.d/otbr-agent/data/check
  etc/docker/border-router/rootfs/etc/s6-overlay/s6-rc.d/otbr-agent/dependencies.d/base
  etc/docker/border-router/rootfs/etc/s6-overlay/s6-rc.d/otbr-agent/dependencies.d/mdns
  etc/docker/border-router/rootfs/etc/s6-overlay/s6-rc.d/otbr-agent/finish
  etc/docker/border-router/rootfs/etc/s6-overlay/s6-rc.d/otbr-agent/notification-fd
  etc/docker/border-router/rootfs/etc/s6-overlay/s6-rc.d/otbr-agent/run
  etc/docker/border-router/rootfs/etc/s6-overlay/s6-rc.d/otbr-agent/type
  etc/docker/border-router/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/mdns
  etc/docker/border-router/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/otbr-agent
  etc/docker/border-router/setup-host
Labels: platform: docker

#2785 [ncp] add meshcop commissioning in NCP mode
  .github/workflows/ncp_mode.yml
  src/agent/application.cpp
  src/agent/application.hpp
  src/host/ncp_host.cpp
  src/host/ncp_host.hpp
  src/host/ncp_spinel.cpp
  src/host/ncp_spinel.hpp
  src/host/rcp_host.cpp
  src/host/rcp_host.hpp
  src/host/thread_host.hpp
  tests/gtest/CMakeLists.txt
  tests/scripts/expect/_common.exp
  tests/scripts/expect/ncp_border_agent.exp
  tests/scripts/ncp_mode
Labels: P2, comp: border agent, comp: ncp

#2792 [srp-server] fix `SRP_SERVER_AUTO_ENABLE` config
  .github/workflows/build.yml
  include/openthread-br/config.h
Labels: comp: build, comp: dns

#2791 [nat64] remove `tayga` option
  .github/workflows/border_router.yml
  .github/workflows/ncp_mode.yml
  etc/docker/test/Dockerfile
  etc/docker/test/docker_entrypoint.sh
  etc/openwrt/openthread-br/Makefile
  script/_nat64
  script/_otbr
  script/bootstrap
  tests/scripts/check-scripts
  tests/scripts/ncp_mode
Labels: comp: build

#2798 [posix] refactor the infraif module
  src/agent/application.cpp
  src/agent/application.hpp
  src/host/ncp_host.cpp
  src/host/ncp_host.hpp
  src/host/ncp_spinel.hpp
  src/host/posix/infra_if.cpp
  src/host/posix/infra_if.hpp
  tests/gtest/test_infra_if.cpp
Labels: enhancement, P3, platform: posix

#2800 [infra-if] use `std::string` for infra network interface names
  src/agent/application.cpp
  src/agent/application.hpp
  src/host/posix/infra_if.cpp
  src/host/posix/infra_if.hpp
  tests/gtest/test_infra_if.cpp
Labels: cleanup

#2806 [host] add network property for mesh local prefix
  src/host/ncp_host.cpp
  src/host/ncp_host.hpp
  src/host/ncp_spinel.cpp
  src/host/ncp_spinel.hpp
  src/host/rcp_host.cpp
  src/host/rcp_host.hpp
  src/host/thread_host.hpp
Labels: P2, comp: thread controller

#2817 [docker] enable `OTBR_DNS_UPSTREAM_QUERY`
  etc/docker/border-router/Dockerfile
Labels: platform: docker

#2801 [bbr] add multicast routing manager
  src/common/types.cpp
  src/common/types.hpp
  src/host/ncp_host.cpp
  src/host/ncp_host.hpp
  src/host/posix/CMakeLists.txt
  src/host/posix/infra_if.hpp
  src/host/posix/multicast_routing_manager.cpp
  src/host/posix/multicast_routing_manager.hpp
  src/host/posix/netif.hpp
  tests/gtest/CMakeLists.txt
  tests/gtest/test_backbone_multicast_routing.cpp
Labels: P2, comp: backbone router, comp: ncp

#2819 [docker] enable `OTBR_BACKBONE_ROUTER`
  etc/docker/border-router/Dockerfile
Labels: platform: docker

#2822 [docker] support multiarch
  etc/docker/border-router/Dockerfile
Labels: platform: docker
