Repository openthread/ot-br-posix, pull requests merged in 2025-05, with the labels that each got.

#2833 [docker] remove separate `COPY` command
  etc/docker/border-router/Dockerfile
Labels: platform: docker

#2835 [docker] fix rootfs copy
  etc/docker/border-router/Dockerfile
Labels: platform: docker

#2824 [backbone-router] integrate multicast forwarding feature in NCP mode
  .github/workflows/ncp_mode.yml
  src/agent/application.cpp
  src/agent/application.hpp
  src/host/ncp_host.cpp
  src/host/ncp_host.hpp
  src/host/ncp_spinel.cpp
  src/host/ncp_spinel.hpp
  src/host/posix/multicast_routing_manager.cpp
  src/host/rcp_host.cpp
  src/host/rcp_host.hpp
  src/host/thread_host.hpp
  tests/scripts/expect/ncp_backbone_multicast_forwarding.exp
  tests/scripts/ncp_mode
Labels: P2, comp: backbone router, comp: ncp

#2838 [ncp] fix the docker network for ncp integration tests
  tests/scripts/ncp_mode
Labels: P1, continuous-integration, comp: ncp

#2842 [dns64] remove DNS64 feature
  .github/workflows/border_router.yml
  .github/workflows/ncp_mode.yml
  README.md
  etc/docker/test/Dockerfile
  etc/docker/test/docker_entrypoint.sh
  examples/platforms/beagleboneblack/default
  examples/platforms/debian/default
  examples/platforms/fedora/default
  examples/platforms/raspbian/default
  examples/platforms/ubuntu/default
  script/_dns64
  script/_network_manager
  script/bootstrap
  script/server
  script/setup
  script/update
  tests/scripts/ncp_mode
Labels: comp: dns

#2846 [dnssd-platform] fix registering services for local host
  src/host/posix/dnssd.cpp
Labels: enhancement, P4, comp: dns

#2848 [dnssd-platform] check `OTBR_ENABLE_DNSSD_PLAT` config
  src/host/posix/dnssd.cpp
  src/host/posix/dnssd.hpp
Labels: enhancement, P4, comp: dns

#2844 [script] remove BeagleBone support
  examples/platforms/beagleboneblack/default
  script/_dhcpv6_pd
  script/_disable_services
  script/_initrc
  script/setup
  script/standalone_ipv6
Labels: comp: build

#2852 [border-agent] add `OTBR_ENABLE_BORDER_AGENT` guards
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
Labels: enhancement, P4, comp: border agent

#2853 [border-agent] simplify MeshCoP service name generation
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
Labels: enhancement, P4, comp: border agent

#2854 [border-agent] simplify vendor TXT data update and tracking
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
  src/dbus/server/dbus_thread_object_rcp.cpp
Labels: enhancement, P4, comp: border agent

#2856 [border-agent] add `OTBR_BORDER_AGENT_MESHCOP_SERVICE` CMake option
  .github/workflows/border_router.yml
  etc/cmake/options.cmake
  src/agent/application.cpp
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
Labels: enhancement, P4, comp: border agent

#2857 [config] set the config for border agent service base name
  third_party/openthread/CMakeLists.txt
Labels: enhancement, P4, comp: border agent

#2860 [config] set `OT_BORDER_AGENT_MESHCOP_SERVICE` based on OTBR config
  third_party/openthread/CMakeLists.txt
Labels: enhancement, P4, comp: border agent

#2868 [ncp-mode] disable `OT_BORDER_AGENT_MESHCOP_SERVICE` on ncp config
  tests/scripts/ncp_mode
Labels: enhancement, P4, comp: ncp

#2873 [docs] update README
  README.md
Labels: comp: docs

#2879 [script] remove unused file `script/cibuild`
  script/cibuild
Labels: cleanup
