Repository openthread/ot-br-posix, pull requests merged in 2025-08, with the labels that each got.

#2987 [docker] add `linux/arm/v7` platform
  .github/workflows/docker-border-router.yml
  etc/docker/border-router/Dockerfile
Labels: platform: docker

#2989 [lgtm] remove `.lgtml.yml`
  .lgtm.yml
Labels: continuous-integration

#2996 [mdns] change default to OT mDNS
  .github/workflows/docker.yml
  CMakeLists.txt
  etc/docker/test/Dockerfile
  script/_otbr
  script/bootstrap
  script/server
  src/agent/CMakeLists.txt
  src/agent/application.hpp
  src/border_agent/border_agent.cpp
Labels: comp: build

#2999 [mdns] remove unnecessary stubs when using OT mDNS
  src/mdns/mdns.cpp
  src/mdns/mdns.hpp
  src/mdns/mdns_openthread.cpp
  src/mdns/mdns_openthread.hpp
  src/trel_dnssd/trel_dnssd.hpp
Labels: mdns

#2962 [dnssd] implement Dnssd Browser/Resolver APIs
  src/common/types.cpp
  src/common/types.hpp
  src/host/posix/CMakeLists.txt
  src/host/posix/dnssd.cpp
  src/host/posix/dnssd.hpp
  src/mdns/mdns.cpp
  tests/gtest/CMakeLists.txt
  tests/gtest/test_dnssd.cpp
Labels: enhancement, P3, comp: discovery proxy, platform: posix

#3016 [tests] restart mDNSResponder service in ncp_mode test setup
  src/mdns/mdns_mdnssd.cpp
  tests/scripts/ncp_mode
Labels: P2, continuous-integration, mDNSResponder, comp: ncp

#3005 [build] remove unnecessary link to otbr-proto
  src/common/CMakeLists.txt
  src/host/CMakeLists.txt
  src/utils/CMakeLists.txt
Labels: enhancement, P4, cleanup, comp: telemetry

#3028 [ncp] add DBus interface to set the host power mode
  src/dbus/common/constants.hpp
  src/dbus/server/dbus_thread_object_ncp.cpp
  src/dbus/server/dbus_thread_object_ncp.hpp
  src/host/ncp_host.cpp
  src/host/ncp_host.hpp
  src/host/ncp_spinel.cpp
  src/host/ncp_spinel.hpp
  tests/scripts/expect/ncp_host_power_mode.exp
Labels: comp: ncp
