Repository openthread/ot-br-posix, pull requests merged in 2025-03, with the labels that each got.

#2745 [border-agent] add `Init()` and `Deinit()` for `BorderAgent`
  src/agent/application.cpp
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
Labels: platform: android, comp: border agent

#2740 [ncp] add handling for unused properties to avoid warning logs
  src/host/ncp_spinel.cpp
Labels: enhancement, P4, comp: ncp

#2749 [github-actions] update runner from `ubuntu-20.04` to `ubuntu-22.04`
  .github/workflows/border_router.yml
  .github/workflows/build.yml
  .github/workflows/raspbian.yml
Labels: github_actions

#2742 [mdns-avahi] utilize Avahi events for complete result handling
  src/mdns/mdns.cpp
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_avahi.hpp
Labels: enhancement, P4, mdns, Avahi

#2753 [srp-server] remove the `OTBR_ENABLE_SRP_ADVERTISING_PROXY` guard when enabling SRP server
  .github/workflows/build.yml
  etc/cmake/options.cmake
  src/host/rcp_host.cpp
Labels: comp: border router

#2709 [trel] require link-local for peer discovered by mDNS
  .github/workflows/border_router.yml
  src/trel_dnssd/trel_dnssd.cpp
Labels: comp: trel

#2727 [border-agent] refactor to use MeshCoP Service state changed callback
  src/agent/application.cpp
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
  src/dbus/server/dbus_thread_object_rcp.cpp
  src/host/ncp_host.cpp
  src/host/ncp_host.hpp
  src/host/rcp_host.cpp
  src/host/rcp_host.hpp
  src/host/thread_host.hpp
Labels: P2, comp: border agent

#2756 [border agent] refactor dbus meshcop txt update
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
  src/dbus/server/dbus_thread_object_rcp.cpp
  src/utils/thread_helper.cpp
  src/utils/thread_helper.hpp
Labels: P2, comp: border agent

#2717 [border-agent] add UDP Proxy module for Thread commissioning
  src/host/posix/CMakeLists.txt
  src/host/posix/udp_proxy.cpp
  src/host/posix/udp_proxy.hpp
  tests/gtest/CMakeLists.txt
  tests/gtest/test_udp_proxy.cpp
Labels: P2, comp: commissioner, comp: border agent, comp: ncp

#2763 [srp-server] refine build flags for SRP server and Advertising Proxy
  .github/workflows/border_router.yml
  etc/cmake/options.cmake
  etc/docker/Dockerfile
  include/openthread-br/config.h
  script/_otbr
  src/dbus/server/dbus_thread_object_rcp.cpp
  src/host/rcp_host.cpp
  src/utils/thread_helper.cpp
  tests/dbus/test_dbus_client.cpp
  third_party/openthread/CMakeLists.txt
Labels: P4, comp: build, comp: advertising-proxy

#2755 [border-agent] refactor epskc state change handling
  src/agent/application.cpp
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
  src/host/ncp_host.cpp
  src/host/ncp_host.hpp
  src/host/rcp_host.cpp
  src/host/rcp_host.hpp
  src/host/thread_host.hpp
Labels: P2, comp: border agent

#2768 [posix] refactor netif module
  src/agent/application.cpp
  src/agent/application.hpp
  src/host/ncp_host.cpp
  src/host/ncp_host.hpp
  src/host/ncp_spinel.hpp
  src/host/posix/netif.cpp
  src/host/posix/netif.hpp
  tests/dbus/test_dbus_client.cpp
  tests/gtest/test_infra_if.cpp
  tests/gtest/test_netif.cpp
Labels: enhancement, P3, platform: posix

#2761 [test] fix flaky unit test of test_netif
  tests/gtest/test_netif.cpp
Labels: bug, P2, continuous-integration, github_actions

#2738 [posix] establish and manage CLI Daemon session communication
  include/openthread-br/config.h
  src/host/posix/cli_daemon.cpp
  src/host/posix/cli_daemon.hpp
  tests/gtest/test_cli_daemon.cpp
Labels: P2, comp: ncp, platform: posix

#2771 [ncp] add meshcop service publishing in NCP mode
  src/agent/application.cpp
  src/agent/application.hpp
  src/host/ncp_host.cpp
  src/host/ncp_spinel.cpp
  src/host/ncp_spinel.hpp
  tests/scripts/expect/_common.exp
  tests/scripts/expect/ncp_border_agent.exp
  tests/scripts/ncp_mode
Labels: P2, comp: border agent, comp: ncp

#2766 [web] fix the build error caused by deprecated readers and writers
  src/web/web-service/wpan_service.cpp
Labels: comp: web service

#2778 [dbus] lower the log level in `ReplyOtResult` on error to reduce false alarms
  src/dbus/server/dbus_request.hpp
Labels: enhancement, comp: dbus

#2775 [dbus] refactor dbus module to unbind it with border agent feature
  src/agent/application.cpp
  src/agent/application.hpp
  src/dbus/server/dbus_agent.cpp
  src/dbus/server/dbus_agent.hpp
  src/dbus/server/dbus_object.hpp
  src/dbus/server/dbus_thread_object_ncp.cpp
  src/dbus/server/dbus_thread_object_ncp.hpp
  src/dbus/server/dbus_thread_object_rcp.cpp
  src/dbus/server/dbus_thread_object_rcp.hpp
Labels: enhancement, P3, comp: dbus
