Repository openthread/ot-br-posix, pull requests merged in 2025-01, with the labels that each got.

#2660 [dbus] simplify getting OT instance in dbus RCP thread object
  src/dbus/server/dbus_thread_object_rcp.cpp
Labels: enhancement, P4, comp: dbus

#2641 [doc] add a README doc for otbr docker for common issues
  etc/docker/README.md
Labels: P4, comp: docs, platform: docker

#2665 [host] update directory name and namespace from ncp to host
  src/CMakeLists.txt
  src/agent/application.cpp
  src/agent/application.hpp
  src/agent/main.cpp
  src/backbone_router/backbone_agent.cpp
  src/backbone_router/backbone_agent.hpp
  src/backbone_router/dua_routing_manager.hpp
  src/backbone_router/nd_proxy.hpp
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
  src/common/mainloop_manager.hpp
  src/dbus/server/dbus_agent.cpp
  src/dbus/server/dbus_agent.hpp
  src/dbus/server/dbus_thread_object_ncp.cpp
  src/dbus/server/dbus_thread_object_ncp.hpp
  src/dbus/server/dbus_thread_object_rcp.cpp
  src/dbus/server/dbus_thread_object_rcp.hpp
  src/host/CMakeLists.txt
  src/host/async_task.cpp
  src/host/async_task.hpp
  src/host/ncp_host.cpp
  src/host/ncp_host.hpp
  src/host/ncp_spinel.cpp
  src/host/ncp_spinel.hpp
  src/host/posix/CMakeLists.txt
  src/host/posix/infra_if.cpp
  src/host/posix/infra_if.hpp
  src/host/posix/netif.cpp
  src/host/posix/netif.hpp
  src/host/posix/netif_linux.cpp
  src/host/posix/netif_unix.cpp
  src/host/rcp_host.cpp
  src/host/rcp_host.hpp
  src/host/thread_host.cpp
  src/host/thread_host.hpp
  src/openwrt/ubus/otubus.cpp
  src/openwrt/ubus/otubus.hpp
  src/rest/resource.hpp
  src/rest/rest_web_server.hpp
  src/sdp_proxy/advertising_proxy.cpp
  src/sdp_proxy/advertising_proxy.hpp
  src/sdp_proxy/discovery_proxy.cpp
  src/sdp_proxy/discovery_proxy.hpp
  src/trel_dnssd/trel_dnssd.cpp
  src/trel_dnssd/trel_dnssd.hpp
  src/utils/thread_helper.cpp
  src/utils/thread_helper.hpp
  tests/gtest/CMakeLists.txt
  tests/gtest/test_async_task.cpp
  tests/gtest/test_infra_if.cpp
  tests/gtest/test_netif.cpp
  tests/gtest/test_rcp_host_api.cpp
Labels: P3, cleanup, comp: thread controller

#2664 [platform] implement platform dnssd apis
  src/host/posix/CMakeLists.txt
  src/host/posix/dnssd.cpp
  src/host/posix/dnssd.hpp
Labels: P2, mdns, platform: posix

#2679 [host] remove unused methods in RcpHost
  src/host/rcp_host.hpp
Labels: enhancement, P4, cleanup

#2673 [github-actions] fix multi-arch docker build
  .github/workflows/docker.yml
  etc/docker/Dockerfile
Labels: platform: docker, github_actions

#2653 [build] allow using shared boost libraries
  src/web/CMakeLists.txt
Labels: comp: build

#2652 [build] allow disabling systemd service unit install
  CMakeLists.txt
Labels: comp: build
