Repository openthread/ot-br-posix, pull requests merged in 2025-07, with the labels that each got.

#2931 [cmake] require `OTBR_BORDER_AGENT_MESHCOP_SERVICE=OFF` when using OT mDNS
  .github/workflows/border_router.yml
  third_party/openthread/CMakeLists.txt
Labels: comp: build, github_actions

#2936 [format] upgrade clang-format to 16
  .github/workflows/build.yml
  CONTRIBUTING.md
  STYLE_GUIDE.md
  etc/docker/test/docker_entrypoint.sh
  script/clang-format
  src/agent/application.hpp
  src/border_agent/border_agent.hpp
  src/common/logging.cpp
  src/dbus/client/thread_api_dbus.hpp
  src/host/ncp_host.hpp
  src/host/ncp_spinel.hpp
  src/host/rcp_host.hpp
  src/host/thread_helper.hpp
  tests/mdns/main.cpp
  tests/scripts/bootstrap.sh
  tests/scripts/openwrt
Labels: enhancement, P3

#2939 [mdns] break dependency on `mDNSResponder` when using OT mDNS
  src/mdns/CMakeLists.txt
  src/mdns/mdns.hpp
  src/mdns/mdns_openthread.cpp
  src/mdns/mdns_openthread.hpp
Labels: mdns

#2947 [mlr] remove redundant build config
  .github/workflows/border_router.yml
  .github/workflows/docker.yml
  third_party/openthread/CMakeLists.txt
Labels: comp: build

#2951 [github-action] remove redundant OT configs
  .github/workflows/border_router.yml
Labels: github_actions

#2952 [cmake] enable `OT_SRP_SERVER` by default
  .github/workflows/border_router.yml
  third_party/openthread/CMakeLists.txt
Labels: comp: build

#2941 [border-agent] add "vendor TXT Data changed" callback
  src/agent/application.cpp
  src/border_agent/border_agent.cpp
  src/border_agent/border_agent.hpp
  src/host/ncp_host.cpp
  src/host/ncp_host.hpp
  src/host/rcp_host.cpp
  src/host/rcp_host.hpp
  src/host/thread_host.hpp
Labels: enhancement, P4, comp: border agent

#2955 [dnssd] remove unnecessary OTBR_UNUSED_VARIABLE
  src/host/posix/dnssd.cpp
Labels: enhancement, P4

#2964 [cmake] add OTBR_TREL_DNSSD build option
  .github/workflows/border_router.yml
  etc/cmake/options.cmake
  src/CMakeLists.txt
  src/agent/application.cpp
  src/agent/application.hpp
  src/border_agent/CMakeLists.txt
Labels: comp: build

#2966 [cmake] enable `OTBR_TREL` by default
  .github/workflows/border_router.yml
  .github/workflows/build.yml
  .github/workflows/ncp_mode.yml
  etc/cmake/options.cmake
  etc/docker/border-router/Dockerfile
  script/test
  tests/scripts/ncp_mode
Labels: comp: build

#2969 [github-actions] add OT mDNS to meschop test matrix
  .github/workflows/meshcop.yml
  tests/gtest/fake_posix_platform.cpp
  tests/scripts/meshcop
Labels: github_actions

#2968 [github-actions] add OT mDNS to BR test matrix
  .github/workflows/border_router.yml
Labels: github_actions

#2965 [cmake] enable `OTBR_BACKBONE_ROUTER` by default
  .github/workflows/border_router.yml
  .github/workflows/docker.yml
  .github/workflows/macOS.yml
  .github/workflows/ncp_mode.yml
  etc/cmake/options.cmake
  etc/docker/border-router/Dockerfile
  examples/platforms/debian/default
  examples/platforms/fedora/default
  examples/platforms/raspbian/default
  examples/platforms/ubuntu/default
  script/_otbr
  script/bootstrap
  tests/rest/test-rest-server
  tests/rest/test_rest.py
  tests/scripts/auto-attach
  tests/scripts/ncp_mode
Labels: comp: build

#2971 [mdns] handle retryable mDNSResponder errors
  src/mdns/mdns.cpp
  src/mdns/mdns.hpp
  src/mdns/mdns_avahi.cpp
  src/mdns/mdns_mdnssd.cpp
  src/mdns/mdns_mdnssd.hpp
Labels: bug, P1, mdns, mDNSResponder

#2978 [build] enable `NAT64` by default
  etc/docker/test/Dockerfile
  examples/platforms/debian/default
  examples/platforms/fedora/default
  examples/platforms/raspbian/default
  examples/platforms/ubuntu/default
  script/_nat64
  script/_otbr
  script/bootstrap
  tests/scripts/check-scripts
Labels: comp: build

#2976 [cmake] rename the library otbr-ncp to otbr-host
  src/agent/CMakeLists.txt
  src/host/CMakeLists.txt
  tests/gtest/CMakeLists.txt
Labels: enhancement, P4

#2979 [docker] switch to using OT mDNS
  etc/docker/border-router/Dockerfile
  etc/docker/border-router/rootfs/etc/s6-overlay/s6-rc.d/mdns/finish
  etc/docker/border-router/rootfs/etc/s6-overlay/s6-rc.d/mdns/run
  etc/docker/border-router/rootfs/etc/s6-overlay/s6-rc.d/mdns/type
  etc/docker/border-router/rootfs/etc/s6-overlay/s6-rc.d/otbr-agent/dependencies.d/mdns
  etc/docker/border-router/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/mdns
Labels: platform: docker

#2984 [docker] bump s6-overlay to v3.2.1.0
  etc/docker/border-router/Dockerfile
Labels: platform: docker
